<?xml version="1.0"?>
<robot>

    <!-- Gazebo Colors -->
    <gazebo reference="base_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="antebrazo">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="brazo">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="mano">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="dedo">
        <material>Gazebo/White</material>
    </gazebo>

    <!-- Gazebo Hardware Component -->

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="hombro">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="codo">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="articulacion">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="muneca">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find brazo_hardware)/config/servo_controllers_gazebo.yaml</parameters>
        </plugin>
    </gazebo>

</robot>