<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="epson">

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find brazo_hardware)/description/urdf.xacro" />

    <!-- Import servo ros2_control description -->
    <xacro:include filename="brazo.ros2_control.xacro" />
    <xacro:brazo_ros2_control 
        name="brazo" 
        plugin="gazebo_ros2_control/GazeboSystem" 
        prefix="" 
    />

    <!-- Gazebo Colors & Plugins -->
    <gazebo reference="base_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="antebrazo">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="brazo">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="mano">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="dedo">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find brazo_hardware_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>